# ---> Go
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
*.json
client
server
.data
data
.idea

.directory
.vscode

build
binTmp
dump.rdb
app/jiacrontab_admin/jiacrontab_admin
app/jiacrontabd/jiacrontabd

app/jiacrontabd/logs
app/jiacrontab_admin/logs
app/jiacrontabd/pprof
app/jiacrontab_admin/pprof
/node_modules