    <div class="layui-layout layui-layout-admin">
            {{render "public/header.html"}}

        {{render "public/menu.html"}}

        <div class="layui-body layui-content">
            <!-- 内容主体区域 -->
            <div class="layui-breadcrumb">
                <a href="/">首页</a>
                <a href="/crontab/task/list?addr={{.addr}}">计划任务列表</a>
                <a>
                    <cite>编辑</cite>
                </a>
            </div>

            <div class="layui-card">
                <div class="layui-card-header">添加脚本</div>
                <div class="layui-card-body">
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">地址</label>
                            <div class="layui-input-block">
                                <input type="text" name="address" placeholder="101.200.45.159:20001" class="layui-input" disabled>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">脚本名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="scriptname" required lay-verify="required" placeholder="请输入任务名" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">命令</label>
                            <div class="order-list">
                                <div class="layui-input-inline">
                                    <select name="order" lay-verify="required">
                                        <option value="0">php</option>
                                        <option value="1">python</option>
                                        <option value="2">java</option>
                                        <option value="3">go</option>
                                        <option value="4">javascript</option>
                                        <option value="5">html</option>
                                    </select>
                                </div>
                                <div class="layui-input-inline" style="width: 120px;">
                                    <input type="text" name="args" required lay-verify="required" placeholder="args" class="layui-input">
                                </div>
                                <div class="layui-input-inline">
                                    <select name="pipe" lay-verify="required">
                                        <option value="0">pipe</option>
                                    </select>
                                </div>
                                <div class="layui-input-inline">
                                    <div class="layui-btn" id="addOrderBtn">
                                        <i class="layui-icon layui-icon-add-1"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="add-list"></div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">脚本超时</label>
                            <div class="layui-input-block">
                                <input type="text" name="scriptout" required lay-verify="required" value="0" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">超时操作</label>
                            <div class="layui-input-block">
                                <input type="radio" name="timeout" value="邮件通知" title="邮件通知">
                                <input type="radio" name="timeout" value="强杀" title="强杀">
                                <input type="radio" name="timeout" value="邮件通知并强杀" title="邮件通知并强杀">
                                <input type="radio" name="timeout" value="忽略" title="忽略">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">邮箱地址</label>
                            <div class="layui-input-block">
                                <input type="text" name="email" required lay-verify="required" value="jiacontab@yopmail.com" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">最大并发数</label>
                            <div class="layui-input-block">
                                <input type="text" name="maxNum" required lay-verify="required" value="1" class="layui-input">
                            </div>
                        </div>


                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">定时</label>
                                <div class="layui-input-inline" style="width: 80px;">
                                    <input type="text" name="minute" placeholder="minute" class="layui-input">
                                </div>
                                <div class="layui-form-mid">-</div>
                                <div class="layui-input-inline" style="width: 80px;">
                                    <input type="text" name="hour" placeholder="hour" class="layui-input">
                                </div>
                                <div class="layui-form-mid">-</div>
                                <div class="layui-input-inline" style="width: 80px;">
                                    <input type="text" name="day" placeholder="day" class="layui-input">
                                </div>
                                <div class="layui-form-mid">-</div>
                                <div class="layui-input-inline" style="width: 80px;">
                                    <input type="text" name="month" placeholder="month" class="layui-input">
                                </div>
                                <div class="layui-form-mid">-</div>
                                <div class="layui-input-inline" style="width: 90px;">
                                    <input type="text" name="dayofweek" placeholder="dayofweek" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">添加依赖</label>
                            <div class="layui-input-inline">
                                <select name="depend" lay-verify="required">
                                    <option value="0">同步执行</option>
                                    <option value="1">异步执行</option>
                                </select>
                            </div>
                            <div class="layui-input-inline">
                                <div class="layui-btn" id="depend-btn">
                                    <i class="layui-icon layui-icon-add-1"></i>
                                </div>
                            </div>
                        </div>
                        <div id="depend-list"></div>
                        <div class="layui-form-item">
                            <label class="layui-form-label"></label>
                            <div class="layui-input-block">
                                <input type="checkbox" name="errors" title="脚本异常退出时邮件通知" lay-skin="primary">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="add-script">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {{render "public/footer.html"}}
    </div>
    <!-- 命令和添加依赖的模板 -->
    <script id="formTemplate" type="text/html">
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="template-list">
                <%#  if(d.type === 'depend'){ %>
                    <div class="layui-input-inline">
                        <select name="dependip">
                            <option value="0">182.92.223.12:20001</option>
                            <option value="1">118.24.48.13:20001</option>
                            <option value="2">101.200.45.159:20001</option>
                        </select>
                    </div>
                <%#  } %>
                <div class="layui-input-inline">
                    <select name="order" lay-verify="required">
                        <option value="0">php</option>
                        <option value="1">python</option>
                        <option value="2">java</option>
                        <option value="3">go</option>
                        <option value="4">javascript</option>
                        <option value="5">html</option>
                    </select>
                </div>
                <div class="layui-input-inline" style="width: 120px;">
                    <input type="text" name="args" required lay-verify="required" placeholder="args" class="layui-input">
                </div>
                <%#  if(d.type === 'depend'){ %>
                    <div class="layui-input-inline" style="width: 100px;">
                        <input type="text" name="timeout2" required lay-verify="required" placeholder="超时(s)" class="layui-input">
                    </div>
                <%#  } else { %>
                    <div class="layui-input-inline">
                        <select name="pipe" lay-verify="required">
                            <option value="0">pipe</option>
                        </select>
                    </div>
                <%#  } %>  

                <div class="layui-input-inline">
                    <div class="layui-btn layui-btn-danger delete-order-btn">
                        <i class="layui-icon layui-icon-delete"></i>
                    </div>
                </div>
            </div>
        </div> 
    </script>

    <script src="/static/lib/layui/layui.js"></script>
    <script>
        layui.use(['element', 'form', 'jquery', 'laytpl'], function () {
            var form = layui.form;
            var element = layui.element;
            var $ = layui.jquery;
            var laytpl = layui.laytpl;
            laytpl.config({
                open: '<%',
                close: '%>'
            });
            $('#addOrderBtn').click(function() {
                laytpl(formTemplate.innerHTML).render({'type': 'add'}, function(html){
                    $('#add-list').append(html);
                    form.render();
                });
                
            })
            $('#add-list').delegate('.delete-order-btn', 'click', function() {
                $(this).parents('.layui-form-item').remove();
            })

            $('#depend-btn').click(function() {
                laytpl(formTemplate.innerHTML).render({'type': 'depend'}, function(html){
                    $('#depend-list').append(html);
                    form.render();
                });
            })
            $('#depend-list').delegate('.delete-order-btn', 'click', function() {
                $(this).parents('.layui-form-item').remove();
            })

            //监听提交
            form.on('submit(add-script)', function(data){
                layer.msg(JSON.stringify(data.field));
                return false;
            });

            $('#flexible-icon').on('click', function () {
                if ($(this).hasClass('layui-icon-spread-left')) {
                    $(this).addClass('layui-icon-shrink-right').removeClass('layui-icon-spread-left');
                    $('.layui-layout-body').removeClass('min-layout');
                } else {
                    $(this).addClass('layui-icon-spread-left').removeClass('layui-icon-shrink-right');
                    $('.layui-layout-body').addClass('min-layout');
                }
            })

            if (window.innerWidth < 990) {
                $('.layui-layout-body').addClass('min-layout');
                $('#flexible-icon').addClass('layui-icon-spread-left').removeClass('layui-icon-shrink-right');
            }
            $(window).on('resize', function () {
                if (window.innerWidth < 990) {
                    $('.layui-layout-body').addClass('min-layout');
                    $('#flexible-icon').addClass('layui-icon-spread-left').removeClass(
                        'layui-icon-shrink-right');
                } else {
                    $('.layui-layout-body').removeClass('min-layout');
                    $('#flexible-icon').addClass('layui-icon-shrink-right').removeClass(
                        'layui-icon-spread-left');
                }
            })

        });
    </script>
