    <div class="layui-layout layui-layout-admin">
        {{render "public/header.html"}}

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div class="layui-fluid">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-sm3">
                        <div class="layui-card">
                            <div class="layui-card-header">版本信息</div>
                            <div class="layui-card-body layui-text">
                                <table class="layui-table">
                                    <colgroup>
                                        <col width="100">
                                        <col>
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <td>当前版本</td>
                                            <td>{{.appVersion}}</td>
                                        </tr>
                                        <tr>
                                            <td>基于框架</td>
                                            <td>layui-v2.3.0</td>
                                        </tr>
                                        <tr>
                                            <td>主要特色</td>
                                            <td> 方便 / 响应式 / 极简</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="layui-card">
                            <div class="layui-card-header">运行信息</div>
                            <div class="layui-card-body">
                                <div class="layui-carousel" id="test1">
                                    <div carousel-item>
                                        <div class="layadmin-backlog">
                                            <ul class="layui-row layui-col-space10">
                                                {{range $k,$v := .systemInfoLeft}}
                                                <li class="layui-col-xs6">
                                                    <a href="javascript:;" class="layadmin-backlog-body">
                                                        <h3>{{$k}}</h3>
                                                        <p>
                                                            <cite>{{$v}}</cite>
                                                        </p>
                                                    </a>
                                                </li>
                                                {{end}}
                                            </ul>
                                        </div>
                                        <div class="layadmin-backlog">
                                            <ul class="layui-row layui-col-space10">
                                                {{range $k,$v := .systemInfoRight}}
                                                <li class="layui-col-xs6">
                                                    <a href="javascript:;" class="layadmin-backlog-body">
                                                        <h3>{{$k}}</h3>
                                                        <p>
                                                            <cite>{{$v}}</cite>
                                                        </p>
                                                    </a>
                                                </li>
                                                {{end}}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-sm9">
                        <div class="layui-card">
                            <div class="layui-card-header">运行列表</div>
                            <div class="layui-card-body layui-text">
                                <table class="layui-table">
                                    <colgroup>
                                        <col width="150">
                                        <col width="200">
                                        <col width="140">
                                        <col width="140">
                                        <col width="140">
                                        <col>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>名称</th>
                                            <th>IP</th>
                                            <th>状态</th>
                                            <th>计划任务数</th>
                                            <th>常驻任务数</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{range $k,$client := .clientList}}
                                        <tr>
                                            <td>服务器-{{$k}}</td>
                                            <td>{{$client.Addr}}</td>
                                            <td>
                                                {{if eq $client.State 1}}
                                                正常
                                                {{else}}
                                                断开 <a href="/deleteClient?addr={{$client.Addr}}" onclick="return confirm('确定要删除吗？')" class="layui-btn layui-btn-xs layui-btn-danger">删除</a>
                                                {{end}}
                                            </td>
                                            <td>12</td>
                                            <td>13</td>
                                            <td>
                                                <a href="/crontab/task/list?addr={{$client.Addr}}" class="layui-btn layui-btn-xs jia-btn-normal">查看</a>
                                            </td>
                                        </tr>
                                        {{end}}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{render "public/footer.html"}}

    </div>
    <script src="/static/lib/layui/layui.js"></script>
    <script>
        layui.use(['element', 'carousel'], function () {
            var element = layui.element;
            var carousel = layui.carousel;
            //建造实例
            carousel.render({
                elem: '#test1',
                width: '100%',
                arrow: 'none',
                autoplay: false,
                trigger: 'hover',
                // indicator: 'outside'
            });

        });
    </script>
