<!DOCTYPE html>
<html lang="zh-cn">
{{template "head" .}}
<style>
    .border-bottom:last-child{
        border-bottom: none;
    }
</style>
<body>
    {{template "header" .}}

    <div class="container-fluid">

        <ul class="breadcrumb">
            <li><a href="/">Home</a> </li>
            <li class="active">{{.client.Addr}}</li>
        </ul>

        <div class="container-fluid">
            <div class="col-md-3">
                <div class="list-group">
                    {{$addr := .client.Addr}}
        
                    {{range $k,$v := .addrs}}
                        {{if eq $v.State 1}}
                        <a href="/list?addr={{$v.Addr}}" class="list-group-item {{if eq $v.Addr $addr}}active{{end}}">
                            {{$v.Addr}}
                        </a>
                        {{end}}
                    {{end}}
                </div>
                 <div class="panel panel-primary">
                    <!-- Default panel contents -->
                    <div class="panel-heading">{{$addr}}-运行信息</div>

                    <!-- List group -->
                    <ul class="list-group">
                        {{range $k,$v := .systemInfo}}
                        <li class="list-group-item">{{$k}} : {{$v}}</li>
                        {{end}}
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="border-bottom clearfix">
                    <div class="navbar-left">
                        <a href="/stopAllTask?addr={{.client.Addr}}&taskIds={{.taskIds}}" class="btn btn-primary">全部停止</a>
                       
                    </div>

                    <div class="navbar-right" style="margin-right:0;">
                        <a href="/model?type=batch&url={{.url}}" class="btn btn-primary">批量模式</a>
                         <a href="/update?addr={{.client.Addr}}" class="btn btn-info">添加</a>
                    </div>
                </div>

                {{$logHost := .logHost}} {{$client := .client}} 
                {{range $i,$v := .list}} 
                <div class="row-fluid show-grid border-bottom">
                    <div class="span12"><strong>{{$v.Name}}</strong></div>
                    <div class="span12">{{$v.Command}} {{$v.Args}}</div>
                    <div class="span12">
                            状态：{{if eq $v.State 0}}
                        <span class="label label-danger">已停止</span> {{else if eq $v.State 1}}
                        <span class="label label-info">计时中</span> {{else}}
                        <span class="label label-success">运行中</span>{{end}}
                        &nbsp;&nbsp;|&nbsp;&nbsp;创建日期：{{date $v.Create}}
                        &nbsp;&nbsp;|&nbsp;&nbsp;上次启动：{{date $v.LastExecTime}}
                        &nbsp;&nbsp;|&nbsp;&nbsp;上次花费：{{formatMs "%.3fs" $v.LastCostTime 1000000000}}
                        &nbsp;&nbsp;|&nbsp;&nbsp;超时：{{$v.Timeout}}s
                        &nbsp;&nbsp;|&nbsp;&nbsp;超时触发：{{$v.OpTimeout}}
                        &nbsp;&nbsp;|&nbsp;&nbsp;进程：{{$v.NumberProcess}}
                    </div>
                    <div class="span12">
                        分:{{$v.C.Minute}}&nbsp;&nbsp;时:{{$v.C.Hour}}&nbsp;&nbsp;日:{{$v.C.Day}}&nbsp;&nbsp;月:{{$v.C.Month}}&nbsp;&nbsp;日/周:{{$v.C.Weekday}}

                        <div class="btn-group">
                            <a class="btn dropdown-toggle {{if eq $client.State 0}}disabled{{end}}" data-toggle="dropdown" href="">
                                    操作
                                    <span class="caret"></span>
                                </a>
                            <ul class="dropdown-menu">
                                <li><a href="/start?taskId={{$v.Id}}&addr={{$client.Addr}}">启动计划任务</a></li>
                                <li><a href="/stop?taskId={{$v.Id}}&addr={{$client.Addr}}&action=stop">停止计划任务</a></li>
                                <li><a href="/update?taskId={{$v.Id}}&addr={{$client.Addr}}">修改计划任务</a></li>
                                <li><a href="/stop?taskId={{$v.Id}}&addr={{$client.Addr}}&action=delete">删除计划任务</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/quickStart?taskId={{$v.Id}}&addr={{$client.Addr}}">测试用户脚本</a></li>
                                <li><a href="/stop?taskId={{$v.Id}}&addr={{$client.Addr}}&action=kill">强杀脚本进程</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/log?taskId={{$v.Id}}&addr={{$client.Addr}}">查看最近日志</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {{end}}
            </div>

        </div>
    </div>

    {{template "footer" .}}
</body>

</html>