<!DOCTYPE html>
<html lang="zh-cn">
{{template "head" .}}

<body>
    {{template "header" .}}
    <div class="container-fluid">       
        <ul class="breadcrumb">
            <li><a href="/">Home</a> </li>
            <li><a href="/list?addr={{.addr}}">{{.addr}}</a> </li>
            <li class="active">log</li>
        </ul>
        <div class="row-fluid">
            <ul class="list-group">
                {{range $k,$v := .logList}}
                <li class="list-group-item">{{$v}}</li>
                {{end}}
            </ul>
        </div>
    </div>
    {{template "footer" .}}
</body>

</html>