<!DOCTYPE html>
<html lang="zh-cn">
{{template "head" .}}
<body>

    {{template "header" .}}
    <div class="container-fluid" style="margin-top:50px;">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">login</h3>
                </div>
                <div class="panel-body">
                    <form action="/login" method="post" class="form col-md-12 center-block">
                        <div class="form-group">
                            <input type="username" class="form-control input-lg" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control input-lg" name="passwd" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input type="checkbox" value="yes" name="remember"> Remember me</label>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-lg btn-block">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    {{template "footer" .}}



</body>

</html>