<!DOCTYPE html>
<html lang="zh-cn">
{{template "head" .}}

<body>
    {{template "header" .}}
    <div class="container-fluid">

        <ul class="breadcrumb">
            <li><a href="/">Home</a> </li>
            <li><a href="/list?addr={{.addr}}">{{.addr}}</a> </li>
            <li class="active">edit</li>
        </ul>

        <div class="row-fluid">
            <div class="col-md-2">
                <div class="list-group">
                    {{$addr := .addr}}
                    {{$clients := .rpcClientsMap}}
                    {{$rpcClientsMap := .rpcClientsMap}} {{range $k,$v := .addrs}}
                    {{$info := index $clients $v}}
                    <a href="/list?addr={{$v}}" class="list-group-item {{if eq $v $addr}}active{{end}}">
                        {{$v}}
                        {{if eq $info.State 1}}正常{{else}}断开{{end}}
                    </a>
                    {{end}}
                </div>
            </div>
            <div class="col-md-10">
                <form class="form" action="" method="POST" onsubmit="return check(this)">
                    <input type="hidden" name="taskId" value="{{.task.Id}}">
                    <div class="form-group">
                        <label for="inputAddr" class="control-label">地址:</label>
                        <div class="controls">
                            <input type="text" id="inputAddr" class="form-control" name="addr" disabled value="{{.addr}}">
                        </div>
                            
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputTaskName">脚本名称:</label>
                        <div class="controls">
                            <input type="text" id="inputTaskName" class="form-control" name="taskName" value="{{.task.Name}}" placeholder="任务名">
                            <span id="errorTaskName"  class="help-block hide">请使用字母、数字、“_”、“-”</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputCommand">命令:</label>
                        <div class="controls">
                            {{$command := .task.Command}}
                            <select class="form-control" id="inputCommand" name="command">
                                {{range $k, $v := .allowCommands}}
                                <option {{if eq $v $command}}checked{{end}} value="{{$v}}">{{$v}}</option>
                                {{end}}
                            </select>
                        </div>
                    </div>

                     <div class="form-group">
                        <label class="control-label" for="inputArgs">参数:</label>
                        <div class="controls">
                            <input type="text" name="args" id="inputArgs" class="form-control" value="{{.task.Args}}" placeholder="args">
                        </div>
                    </div>

                     <div class="form-group">
                        <label class="control-label" for="inputTimeout" >脚本超时:</label>
                        <div class="controls">
                            <input type="text" id="inputTimeout" class="form-control" name="timeout" type="number" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')"  value="{{.task.Timeout}}">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label" >脚本超时操作:</label>
                        <div class="controls">
                            <label class="radio-inline">
                                <input type="radio" name="optimeout" id="inlineRadio2" {{if eq .task.OpTimeout "email"}}checked{{end}} id="inlineRadio1" value="email"> 邮件通知
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optimeout" id="inlineRadio2" {{if eq .task.OpTimeout "kill"}}checked{{end}} value="kill"> 强杀
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optimeout" id="inlineRadio3" {{if eq .task.OpTimeout "email_and_kill"}}checked{{end}} value="email_and_kill"> 邮件通知并强杀
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optimeout" id="inlineRadio3" {{if eq .task.OpTimeout "ignore"}}checked{{end}} value="ignore"> 忽略
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="inputMailTo" >邮箱地址:</label>
                        <div class="controls">
                            <input type="text" id="inputMailTo" class="form-control" name="mailTo"   value="{{.task.MailTo}}">
                        </div>
                    </div>



                    <div class="form-group ">
                        <label class="control-label" class="form-control">定时:</label>
                        <div class="controls form-inline">
                            <div class="input-group col-sm-2">
                                <div class="input-group-addon">minute</div>
                                <input name="minute" class="input-mini form-control" placeholder="minute" value="{{if .task.C.Minute}}{{.task.C.Minute}}{{else}}*{{end}}" type="text" >
                            </div>

                            <div class="input-group col-sm-2">
                                <div class="input-group-addon">hour</div>
                                <input name="hour" class="input-mini form-control" placeholder="hour" value="{{if .task.C.Hour}}{{.task.C.Hour}}{{else}}*{{end}}" type="text" >
                            </div>
                            <div class="input-group col-sm-2">
                                <div class="input-group-addon">day</div>
                                <input name="day" class="input-mini form-control" placeholder="day" value="{{if .task.C.Day}}{{.task.C.Day}}{{else}}*{{end}}" type="text">
                            </div>
                            <div class="input-group col-sm-2">
                                <div class="input-group-addon">month</div>
                                <input name="month" class="input-mini form-control" placeholder="month" type="text" value="{{if .task.C.Month}}{{.task.C.Month}}{{else}}*{{end}}">
                            </div>
                            <div class="input-group col-sm-2">
                                <div class="input-group-addon">dayofweek</div>
                                <input name="weekday" class="input-mini form-control" placeholder="dayofweek" value="{{if .task.C.Weekday}}{{.task.C.Weekday}}{{else}}*{{end}}" type="text">
                            </div>
                            <span id="errorCrontab" class="help-block hide">仅支持"*", "-", "/", ","四种特殊符号</span>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">提交</button>
                        <button type="button" onclick="location.reload()" class="btn">取消　</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    {{template "footer" .}}
    <script>
        function check(dom) {
            var taskName = $('#inputTaskName').val();
            var weekday = $('input[name=weekday]').val();
            var month = $('input[name=month]').val();
            var day = $('input[name=day]').val();
            var hour = $('input[name=hour]').val();
            var minute = $('input[name=minute]').val();

            if (/^[a-zA-Z\d_-]+$/.test(taskName)) {
                $('#errorTaskName').addClass("hide").parents(".form-group").removeClass("has-error");
            } else {
                $('#errorTaskName').removeClass("hide").parents(".form-group").addClass("has-error");
                $('#inputTaskName').focus();
                return false
            }

            if ($.isNumeric(minute)) {
                if (minute < 59 || minute >= 0) {
                    $('#errorCrontab').addClass("hide").parents(".form-group").removeClass("has-error");
                } else {
                    $('#errorCrontab').removeClass("hide").parents(".form-group").addClass("has-error");
                    $('#input[name=minute]').focus();
                    return false;
                }
            } else {
                if (/^\*\/[1-9]+$/.test(minute) || /^\d+-\d+$/.test(minute) || /^(\d+,)+\d+$/.test(minute) || minute == "*") { // */2 2-23 2,3,4 *
                    $('#errorCrontab').addClass("hide").parents(".form-group").removeClass("has-error");
                } else {
                    $('#errorCrontab').removeClass("hide").parents(".form-group").addClass("has-error");
                    $('#input[name=minute]').focus();
                    return false;
                }

            }

            if ($.isNumeric(hour)) {
                if (hour < 23 || hour >= 0) {
                    $('#errorCrontab').addClass("hide").parents(".form-group").removeClass("has-error");
                } else {
                    $('#errorCrontab').removeClass("hide").parents(".form-group").addClass("has-error");
                    $('#input[name=hour]').focus();
                    return false;
                }
            } else {
                if (/^\*\/[1-9]+$/.test(hour) || /^\d+-\d+$/.test(hour) || /^(\d+,)+\d+$/.test(hour) || hour == "*") { // */2 2-23 2,3,4 *
                    $('#errorCrontab').addClass("hide").parents(".form-group").removeClass("has-error");
                } else {
                    $('#errorCrontab').removeClass("hide").parents(".form-group").addClass("has-error");
                    $('#input[name=hour]').focus();
                    return false;
                }

            }

            if ($.isNumeric(day)) {
                if (day <= 31 || hour >= 1) {
                    $('#errorCrontab').addClass("hide").parents(".form-group").removeClass("has-error");
                } else {
                    $('#errorCrontab').removeClass("hide").parents(".form-group").addClass("has-error");
                    $('#input[name=day]').focus();
                    return false;
                }
            } else {
                if (/^\*\/[1-9]+$/.test(day) || /^\d+-\d+$/.test(day) || /^(\d+,)+\d+$/.test(day) || day == "*") { // */2 2-23 2,3,4 *
                    $('#errorCrontab').addClass("hide").parents(".form-group").removeClass("has-error");
                } else {
                    $('#errorCrontab').removeClass("hide").parents(".form-group").addClass("has-error");
                    $('#input[name=day]').focus();
                    return false;
                }

            }

            if ($.isNumeric(month)) {
                if (month <= 12 || hour >= 1) {
                    $('#errorCrontab').addClass("hide").parents(".form-group").removeClass("has-error");
                } else {
                    $('#errorCrontab').removeClass("hide").parents(".form-group").addClass("has-error");
                    $('#input[name=month]').focus();
                    return false;
                }
            } else {
                if (/^\*\/[1-9]+$/.test(month) || /^\d+-\d+$/.test(month) || /^(\d+,)+\d+$/.test(month) || month == "*") { // */2 2-23 2,3,4 *
                    $('#errorCrontab').addClass("hide").parents(".form-group").removeClass("has-error");
                } else {
                    $('#errorCrontab').removeClass("hide").parents(".form-group").addClass("has-error");
                    $('#input[name=month]').focus();
                    return false;
                }

            }

            if ($.isNumeric(weekday)) {
                if (weekday <= 6 || weekday >= 0) {
                    $('#errorCrontab').addClass("hide").parents(".form-group").removeClass("has-error");
                } else {
                    $('#errorCrontab').removeClass("hide").parents(".form-group").addClass("has-error");
                    $('#input[name=weekday]').focus();
                    return false;
                }
            } else {
                if (/^\*\/[1-9]+$/.test(weekday) || /^\d+-\d+$/.test(weekday) || /^(\d+,)+\d+$/.test(weekday) || weekday == "*") { // */2 2-23 2,3,4 *
                    $('#errorCrontab').addClass("hide").parents(".form-group").removeClass("has-error");
                } else {
                    $('#errorCrontab').removeClass("hide").parents(".form-group").addClass("has-error");
                    $('#input[name=weekday]').focus();
                    return false;
                }

            }



            return true;
        }
    </script>
</body>

</html>