<div class="layui-layout layui-layout-admin">
    {{render "public/header.html"}}
    <div class="layui-body layui-content" style="left: 0;">       
        <div class="layui-breadcrumb">
            <a href="/">主页</a>
            <a>
                <cite>配置</cite>
            </a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                {{range $k,$v := .configs}}
                <div class="layui-col-xs6">
                    <div class="set-config-item">
                        <fieldset class="layui-elem-field layui-field-title">
                            <legend>{{$k}}</legend>
                            {{range $kk,$vv := $v}}
                                <p>{{$kk}} : {{$vv}}</p>
                            {{end}}
                            {{if eq $k "mail"}}
                            <li class="list-group-item">
                                <form class="layui-form" method="POST">
                                    <div class="layui-form-item">
                                        <div class="layui-input-inline" style="margin-top: 14px;">
                                            <input type="text" placeholder="邮件地址" class="layui-input" name="mailTo" id="testEmail">
                                        </div>
                                    </div>
                                    <button type="submit" class="layui-btn jia-btn-normal">发送测试邮件</button>
                                </form>
                            </li>
                            {{end}}
                        </fieldset>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </div>
    {{render "public/footer.html"}}
</div>
<script src="/static/lib/layui/layui.js"></script>
<script>
    layui.use('element', function(){
        var element = layui.element;
    });
</script>