{{define "head"}}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/base.css?v={{.version}}" rel="stylesheet" media="screen">
    <title>{{.appName}}</title>
</head>
{{end}}