<div class="layui-header">
    <a href="/" class="layui-logo">{{.title}}</a>
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item {{if eq .action "/admin"}}layui-this{{end}}">
            <a href="/">Home</a>
        </li>

        <li class="layui-nav-item {{if eq .action "/readme"}}layui-this{{end}}">
            <a href="/readme">Readme</a>
        </li>
    </ul>
    {{if  .user}}
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="http://t.cn/RCzsdCq" class="layui-nav-img"> admin
            </a>
            <dl class="layui-nav-child">
                <dd>
                    <a href="/viewConfig">配置信息</a>
                </dd>
                <dd>
                    <a href="/reloadConfig">重新加载配置</a>
                </dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="/logout">退出</a>
        </li>
    </ul>
    {{end}}
</div>