<div class="layui-header">
    <div class="logo-box">
        <a href="/" class="layui-logo">
            <span class="large-w">{{.title}}</span>
            <span class="min-w">JIA</span>
        </a>
        <span class="layui-icon layui-icon-shrink-right flexible-icon" id="flexible-icon"></span>
    </div>
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item {{if eq .action "/"}}layui-this{{end}}">
            <a href="/">主页</a>
        </li>

        <li class="layui-nav-item {{if eq .action "readme"}}layui-this{{end}}">
            <a href="/readme">说明</a>
        </li>
    </ul>
    {{if  .user}}
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="http://t.cn/RCzsdCq" style="display: none" class="layui-nav-img"> admin
            </a>
            <dl class="layui-nav-child">
                <dd>
                    <a href="/viewConfig">配置信息</a>
                </dd>
                <dd>
                    <a href="/reloadConfig">重新加载配置</a>
                </dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="/logout">退出</a>
        </li>
    </ul>
    {{end}}
</div>