.layui-only-select .layui-form-select dl {
    padding: 0;
    top: 32px;
    bottom: -166px;
    overflow: hidden;
    left: auto;
    right: 0;
}
.select-bottom .layui-form-select dl {
    bottom: -100px;
}
.layui-only-select .layui-form-select dl dd {
    line-height: 32px;
    position: relative;
    top: -32px;
}
.layui-only-select td[data-field="handle"] .layui-table-cell{
    overflow:visible !important;
}
.layui-only-select .layui-input{
    height: 30px;
}
.reset-btn.layui-btn-xs {
    height: 29px;
    line-height: 29px;
    margin-right: 6px;
}


